.modal-dialog {
  position: absolute;
  left: 13%;
  top: 5%;
  width: 75vw;
}
.small-msg {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
  padding-left: 1vw;
}

.form-element {
  margin-bottom: 0.75rem;
}
.modal-title {
  font-weight: 650;
}
.form-label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 17px;
  color: #303030;
}
.mandatory-icon {
  color: red;
  font-size: 1rem;
}
#codeIcon {
  margin-left: 0.5rem;
}

.pointer-cursor {
  cursor: pointer;
}

.ask-modal-bottom {
  background: #f13232;
  color: #fafafa;
  border: none;
}

/* Media queries and Keyframes */
@media only screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 75vw;
  }
}

@media only screen and (max-width: 1000px) {
  small.small-msg {
    padding-left: 0;
  }
}
