<app-header></app-header>
<div class="container">
  <div class="question-info">
    <div class="question-header">
      <p id="questionHeading">How to use JQuery with Angular ?</p>
      <small class="date-head">Asked on :</small>
      <small class="date-info">21 Feb 2022 16:40</small>
    </div>
    <hr />
    <div class="question-description">
      <div class="vote-question d-flex flex-column">
        <img class="upvote" src="assets/images/upvote.png" alt="upvote image" />
        <p class="question-vote">24</p>
        <img
          class="downvote"
          src="assets/images/downvote.png"
          alt="upvote image"
        />
      </div>
      <div></div>
      <div class="question-details"></div>
    </div>
  </div>
  <div class="question-responces"></div>
</div>
